.container-product-view {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 270px);
  background-color: #f4f6f9;
  padding: 100px;
}

.custom-button {
  background-color: #f9de4b;
  width: 100px;
  position: absolute;
  top: 150px;
  height: 40px;
  right: 100px;
}

app-table {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .container-product-view {
    padding: 10px;
    height: calc(100vh - 20px);
  }
  .custom-button {
    background-color: #f9de4b;
    width: 100px;
    position: absolute;
    top: 70px;
    height: 40px;
    right: 10px;
  }
}
