<input type="text" placeholder="Buscar" (input)="onSearch($event)">
<table *ngIf="tableData">
  <thead>
  <tr>
    <th *ngFor="let header of tableData.headers">{{ header }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of tableData.rows">
    <td *ngFor="let cell of row">{{ cell }}</td>
  </tr>
  </tbody>
</table>
<label for="pageSizeSelect">Mostrar:</label>
<select id="pageSizeSelect" (change)="onChangePageSize($event)">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="20">20</option>
</select>
