<input type="text" placeholder="Buscar" (input)="onSearch($event)">
<div class="table-responsive">
  <div class="table-wrapper">
    <table *ngIf="tableData">
      <thead>
      <tr>
        <ng-container *ngFor="let header of tableData.headers">
          <ng-container *ngIf="header !== 'id'">
            <th>{{ header }}</th>
          </ng-container>
        </ng-container>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of displayedRows">
        <ng-container *ngFor="let cell of row; let i = index">
          <ng-container *ngIf="i !== 0">
            <td>
              <ng-container *ngIf="i === 1 && cell !== 'logo'; else notLogo">
                <img class="avatar" [src]="cell" alt="Logo" width="50" height="50">
              </ng-container>
              <ng-template #notLogo>
                {{ cell }}
              </ng-template>
            </td>
          </ng-container>
        </ng-container>
        <td>
          <div class="dropdown">
            <button class="dropdown-btn">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-content">
              <p (click)="onUpdateItem(row)">Actualizar</p>
              <p (click)="onDeleteItem(row)">Eliminar</p>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="bottom-right">
  <label for="pageSizeSelect">Mostrar:</label>
  <select id="pageSizeSelect" (change)="onChangePageSize($event)">
    <option value="5" [selected]="pageSize === 5">5</option>
    <option value="10" [selected]="pageSize === 10">10</option>
    <option value="20" [selected]="pageSize === 20">20</option>
  </select>
</div>
